<!DOCTYPE html>
{% load i18n %}
{% get_current_language as current_language %}
{% include "layout.html" %}
    {% include "navigation.html" %}

    <div class="container wrapper flex-grow-1">
          {% if messages %}
        {% for message in messages %}
            {% if "success" in message.tags %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif "error" in message.tags %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
      <h1 class="my-4">
Статусы
      </h1>
<a class="nav-link" href="{%url 'create_status'  %}">Создать статус</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for status in statuses %}

      <tr>
        <td>{{status.id}}</td>
        <td>{{status.name}}</td>
        <td>{{status.create_at}}</td>
        <td>
          <a href="{% url 'update_status' pk=status.id %}">Изменить</a>
          <br>
          <a href="{% url 'delete_status' pk=status.id %}">Удалить</a>
        </td>
      </tr>
  {% endfor %}
</table>

</body>
</html>