<!DOCTYPE html>
{% load i18n %}
{% get_current_language as current_language %}
{% include "layout.html" %}
{% include "navigation.html" %}
    <div class="container wrapper flex-grow-1">
      {% if messages %}
        {% for message in messages %}
            {% if "success" in message.tags %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif "error" in message.tags %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
      <h1 class="my-4">
Пользователи
      </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {% for user in users %}
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.date_joined}}</td>
        <td>
          <a href="/users/{{user.id}}/update/">Изменить</a>
          <br>
          <a href="/users/{{user.id}}/delete/">Удалить</a>
        </td>
      </tr>
      {% endfor %}

  </tbody>
</table>

</body>
</html>
