<!DOCTYPE html>
{% load i18n %}
{% get_current_language as current_language %}
{% include "layout.html" %}
    {% include "navigation.html" %}

    <div class="container wrapper flex-grow-1">

      <h1 class="my-4">
Создать метку
      </h1>
    <form method="post">
  {% csrf_token %}
      <div class="mb-3">
         {{ form.name.label_tag|cut:':' }}
          {{ form.name }}

      {% for message in messages %}
           {% if message.tags %}<div class="invalid-feedback">{{ message }}</div>{% endif %}
      {% endfor %}


      </div>
    <input class="btn btn-primary" type="submit" value="Создать">
</form>
</body>
</html>