<!DOCTYPE html>
{% load i18n %}
{% get_current_language as current_language %}
{% include "layout.html" %}
    {% include "navigation.html" %}
    <div class="container wrapper flex-grow-1">
      {% if messages %}
        {% for message in messages %}
            {% if "success" in message.tags %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif "info" in message.tags %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    <div class="container wrapper flex-grow-1">
      <h1 class="my-4">
      </h1>
        <h1 class="my-4"></h1>
        <div class="card">
          <div class="card-body p-5 bg-light">
            <div class="display-4">{% trans "Hello from Hexlet!" %}</div>
            <p class="lead">{% trans "Practical programming courses" %}</p>
          </div>
        </div>

    </div>
    </div>
</body>

</html>
