<!DOCTYPE html>
{% load i18n %}
{% get_current_language as current_language %}
{% include "layout.html" %}
    {% include "navigation.html" %}
    <div class="container wrapper flex-grow-1">
        {% if messages %}
        {% for message in messages %}
            {% if "error" in message.tags %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif "success" in message.tags %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        </ul>
        {% endif %}
        {% endfor %}
        {% endif %}

      <h1 class="my-4">
    Вход
      </h1>
        {% if messages %}
        {% for message in messages %}
        {% if "info" in message.tags %}
        <ul class="list-unstyled text-danger">
        <li>{{message}}</li>
         </ul>
        {% endif %}
        {% endfor %}
        {% endif %}

        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}

          </div>
          <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
          </div>
          <input class="btn btn-primary" type="submit" value="Войти">
        </form>

    </div>
</body>

</html>
