<!DOCTYPE html>
{% load i18n %}
{% get_current_language as current_language %}
{% include "layout.html" %}
    {% include "navigation.html" %}
    <div class="container wrapper flex-grow-1">
      <h1 class="my-4">
Создать задачу
      </h1>

<form method="post">
  {% csrf_token %}
  {{ form.name.label_tag|cut:':'   }}
  {{ form.name }}
  <br>
  {{ form.description.label_tag|cut:':'  }}
  {{ form.description }}
  <br>
  {{ form.status.label_tag|cut:':'  }}
  {{form.status}}
  <br>
  {{ form.executor.label_tag|cut:':'  }}
  {{form.executor }}
  <br>
  {{ form.labels.label_tag|cut:':'  }}
  {{form.labels}}
  <br>
  <input class="btn btn-primary" type="submit" value="Создать">
</form>


</body>