<!DOCTYPE html>
{% load i18n %}
{% get_current_language as current_language %}
{% include "layout.html" %}
    {% include "navigation.html" %}
    <div class="container wrapper flex-grow-1">
         {% if messages %}
        {% for message in messages %}
            {% if "success" in message.tags %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif "error" in message.tags %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
      <h1 class="my-4">
Задачи
      </h1>

<a class="nav-link" href="{% url 'tasks_create' %}">Создать задачу</a>
<div class="card mb-3">
  <div class="card-body bg-light">
    <form class="form-inline center" method="get">
    <div class="mb-3">
        {{ form.status.label_tag }}
        {{ form.status }}
    </div>
    <div class="mb-3">
        {{ form.executor.label_tag }}
        {{ form.executor }}
    </div>
    <div class="mb-3">
        {{ form.label.label_tag }}
        {{ form.label }}
    </div>
    <div class="mb-3">
        <div class="form-check">
            {{ form.self_tasks }}
            <label class="form-check-label" for="{{ form.self_tasks.id_for_label }}">Только свои задачи</label>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Показать">
</form>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Статус</th>
      <th>Автор</th>
      <th>Исполнитель</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {% for t in tasks %}

      <tr>
        <td>{{t.id}}</td>
        <td>
          <a href="{% url 'task' pk=t.id %}">{{t.name}}</a>
        </td>
        <td>{{t.status.name}}</td>
        <td>{{t.author.first_name}} {{t.author.last_name}}</td>
        <td>{{t.executor.first_name}} {{t.executor.last_name}}</td>
        <td>{{t.create_at}}</td>
        <td>
          <a href="{% url 'tasks_update' pk=t.id  %}">Изменить</a>
          <br>
          <a href="{% url 'tasks_delete' pk=t.id  %}">Удалить</a>
        </td>
      </tr>
    {% endfor %}

  </tbody>
</table>
    </div>
</body>
</html>